{% extends "base.html" %}

{% block content %}
  {{ block.super }}
  spa_account/register.html
  <div>
    <input class="email" type="text" placeholder="email" value="testuser@mailinator.com"/>
    <input class="username" type="text" placeholder="username" value="testuser"/>
    <input class="password" type="password" placeholder="password"/>
    <button>register</button>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      $('button').click(function() {
        var email = $('.email').val();
        var username = $('.username').val();
        var password = $('.password').val();

        console.log('email val = ', email);
        console.log('username val = ', username);
        console.log('password val = ', password);

        $.post('/api/auth/register', { email: email, username: username, password: password }).done(function() {
          window.alert('success');
        }).error(function() {
          window.alert('failure');
        });
      });
    });
  </script>
{% endblock %}
